.nav-color {
  background: linear-gradient(
    rgba(143, 13, 237, 0.63),
    rgba(168, 44, 208, 0.40)
  );
}

.bg-pp {
  background-image: linear-gradient(
        /* rgba(151, 14, 237, 0.15),  */
        /* rgba(245, 13, 210, 0.08) */
        rgba(18, 161, 168, 0.15),
        rgba(173, 192, 196, 0.06)
    ),
    url(./img/luchadores-bg-1.png);/*pp-luchadores-bg.png*/
    background-size: cover;
    background-position: bottom;
}

.text01 {
  font-family: "Kalam", cursive;
  font-style: normal;
}

.text-start {
  font-size: 99px; 
  font-weight: bolder; 
  color: rgba(240, 140, 10, 0.877);
  -webkit-text-stroke: 3px #41392F;
}

/* --- CARDS BASE --- */
.card {
    min-height: auto;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* --- CARDS --- */
.card-1 {
    background-image: linear-gradient(
        rgba(186, 227, 174, 0.71),
        rgba(188, 224, 65, 0.06)/*rgba(188, 224, 65, 0.6)*/
    ),
    url(./img/sei01.png);/*pp-luchadores.png*/
    background-size: cover;
    background-position: top;
}
.card-2 {
    background-image: linear-gradient(
        rgba(208, 0, 181, 0.42),
        rgba(224, 22, 113, 0.06)/*rgba(188, 224, 65, 0.6)*/
    ),
    url(./img/pp-2026/banner_pp2026/);/*pp-luchadores.png*/
    background-size: cover;
    background-position: bottom;
}
.card-3 {
    background-image: linear-gradient(
        rgba(100, 22, 224, 0.8),
        rgba(224, 133, 22, 0.5)/*rgba(188, 224, 65, 0.6)*/
    ),
    url(./img/pp-2026/banner_pp2026/);/*pp-luchadores.png*/
    background-size: cover;
    background-position: bottom;
}

/* .card-3:hover {
    background-image: linear-gradient(
        rgba(2, 2, 24, 0.8),
        rgba(206, 162, 241, 0.8)
    ),
    url(./img/pp-luchadores.png);
} */

.card-4 {
    background-image: linear-gradient(
        rgba(64, 180, 61, 0.25),
        rgba(147, 163, 3, 0.34)
        
    ),
    url(./img/);/*copaco1.png*/

    background-size: cover;
    background-position: center right;
}
/* --- End CARDs --- */

/* --- TEXTOS RESPONSIVOS --- */
.main-text-1,
.main-text-2 {
    font-size: clamp(24px, 4vw, 36px);
    font-weight: bold;
    color: #ffffff;
}

.card-text {
    font-size: clamp(14px, 2.2vw, 20px);
    color: #ffeccb;
}

/* LINK */
.card-link {
    color: #fff;
    font-weight: bold;
}
.card-link:hover {
    color: #ffdfae;
}

.text-link {
    font-size: 34pt;
    text-decoration: none;
    color: #eb8108d8;
    -webkit-text-stroke: 1.2px rgba(95, 40, 4, 0.801);
}

.text-link:hover {
    color: #4fd41bb0;
    -webkit-text-stroke: 1.5px rgba(172, 64, 14, 0.74);
    text-decoration: none;
}

.text-link-2 {
    color: #e93d3daf;
    -webkit-text-stroke: 1px rgb(82, 74, 9);
    font-size: 34pt;
    text-decoration: none;
}

.text-link-2:hover {
    text-decoration: none;
    color: #dda711d3;
}

.sub-text-1 {
    color: #79e630f5;
    -webkit-text-stroke: 1px rgba(12, 12, 11, 0.822);
    font-size: 18pt;
}

.sub-text-2 {
    color: #3a0505e0;
    font-weight: bolder;
    font-size: 18pt;
    text-align: end;
}