.card-1 {
    background-image: linear-gradient(rgba(18, 18, 139, 0.9), rgba(122, 11, 212, 0.5)), url(./img/pp-luchadores.png);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;

    border-radius: 12px;   /* opcional */
    color: rgb(185, 162, 162);          /* para que el texto resalte */
}

.card-1:hover {
    background-image: linear-gradient(rgba(2, 2, 24, 0.8), rgba(206, 162, 241, 0.8)), url(./img/pp-luchadores.png);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;

    border-radius: 12px;   /* opcional */
}


.card-2 {
    background-image: linear-gradient(rgba(42, 43, 6, 0.62), rgba(102, 126, 57, 0.6)), url(./img/copaco01.png);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;

    border-radius: 12px;   /* opcional */
    color: rgb(90, 41, 41);          /* para que el texto resalte */
}
.main-text-1 {
    font-size: 36pt;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.main-text-2 {
    font-size: 36pt;
    font-weight: bold;
    font-family: serif;
    color: #fff;
}

.card-text {
    font-size: 22pt;
    color: #ffdfae;
}