/* --- CARDS BASE --- */
.card {
    min-height: auto;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* --- CARD 1 --- */
.card-1 {
    background-image: linear-gradient(
        rgba(18, 18, 139, 0.85), 
        rgba(122, 11, 212, 0.65)
    ),
    url(./img/pp-luchadores.png);
    background-size: cover;
    background-position: bottom;
}

.card-1:hover {
    background-image: linear-gradient(
        rgba(2, 2, 24, 0.8),
        rgba(206, 162, 241, 0.8)
    ),
    url(./img/pp-luchadores.png);
}

/* --- CARD 2 --- */
.card-2 {
    background-image: linear-gradient(
        rgba(42, 43, 6, 0.62), 
        rgba(102, 126, 57, 0.6)
    ),
    url(./img/copaco1.png);

    background-size: cover;
    background-position: center right;
}

/* --- TEXTOS RESPONSIVOS --- */
.main-text-1,
.main-text-2 {
    font-size: clamp(24px, 4vw, 36px);
    font-weight: bold;
    color: #fff;
}

.card-text {
    font-size: clamp(14px, 2.2vw, 20px);
    color: #ffeccb;
}

/* LINK */
.card-link {
    color: #fff;
    font-weight: bold;
}
.card-link:hover {
    color: #ffdfae;
}


.text-link {
    text-decoration: none;
}

.text-link:hover {
    text-decoration: none;
    color: yellow;
}
